{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}
{% block field %}
    <div>
        {%- if vich_uploader_asset(object, 'imageFile') is not empty -%}
            <img src="{{ vich_uploader_asset(object, 'imageFile') }}" width = "100">
        {% else %}
            <span></span>
        {% endif %}
    </div>
{% endblock %}
