{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}
{% block field %}
    <div>
        {%- if vich_uploader_asset(object, 'imageFile') is not empty -%}
            <img src="{{ vich_uploader_asset(object, 'imageFile') }}" width = "200">
        {% else %}
            <span>Aucune image !</span>
        {% endif %}
    </div>
{% endblock %}
