{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <img src="{{ asset('img/login_header.png') }}" class="img-fluid" alt="{{ SITE_NAME }}">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <p>
                        {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
