{% if admin.isGranted('VIEW', object) and admin.hasRoute('import') %}
    <a class="btn btn-sm btn-info edit_link" title="Importer"  style="display: inline-block" href="{{ admin.generateObjectUrl('import', object) }}">
        <i class="fa fa-upload"></i> Importer
    </a>
{% endif %}
