<!DOCTYPE html>
<html>
    <head>
        <meta name="theme-color" content="#ffffff">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    {% block javascripts %}
    {% endblock %}
        </body>
</html>
