<div id="header">

    <table style="border: none; width: 100%">
        <tr>
            <td width="65%"><img src="../public/img/entete_pdf.png" alt="{{ SITE_NAME }}" style="height: 100px"></td>
            <td width="28%" align="right"><span class="page-number">Agadir, {{ "now"|date("d/m/Y") }}</span></td>
            <td width="7%" align="right"></td>
        </tr>
    </table>
</div>