<div id="footer">
    <table style="border: none; width: 100%">
        <tr>
            <td width="25%"><span class="date">{{ "now"|date("d/m/Y") }}</span></td>
            <td width="50%" align="center"><span class="signature">{{ titreDocument }}</span></td>
            <td width="25%" align="right"><span class="page-number">Page </span></td>
        </tr>
    </table>
</div>