{% extends 'page_error.html.twig' %}

{% block titre %}
    Le client doit reformuler sa demande avec les bonnes données de paiement.
{% endblock %}

{% block contenu %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {# ... #}
    {% endif %}

    <p>
        Erreur 402 <a href="{{ path('homepage') }}">Retour à la page d'accueil</a>.
    </p>
{% endblock %}