{% extends 'page_error.html.twig' %}

{% block titre %}
    Vous n'avez pas l'autorisation d'accéder à la page demandée !
{% endblock %}

{% block contenu %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {# ... #}
    {% endif %}

    <p>
        Erreur 403 <a href="{{ path('homepage') }}">Retour à la page d'accueil</a>.
    </p>
{% endblock %}